@{
    ViewData["Title"] = "Home Page";
}

<div id="home">
    <img src="~/images/sale-loja.jpg" height="300" width="1140"/>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Departments</h2>
        <ul>
            <li>Computers</li>
            <li>Electronics</li>
            <li>Fashion</li>
            <li>Books</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Seller</h2>
        <ul>
            <li>Name</li>
            <li>Email</li>
            <li>Birth Date</li>
            <li>Base Salary</li>
            <li>Option to create new sellers</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Sales Records</h2>
        <ul>
            <li>Simple search</li>
            <li>Grouping search</li>

        </ul>
    </div>
    <div class="col-md-3">
        <h2>Summary</h2>
        <ul>
            <li>Creation of a website for the organization of a company, with separation by categories</li>
        </ul>
    </div>
</div>
